body { -webkit-font-smoothing: antialiased; }

.header-v6-container {
width: 100%;
height: 138px;
background-color: #3a3a3c;
}
.header-v6 {
position: fixed;
height: auto;
width: 100%;
z-index: 9999;
background-color: #3a3a3c;
}
.header-v6 #header {
border-bottom: transparent;
}

/**MEDIA QUERIES RESPONSIVE**/
@media only screen and (max-width: 1100px)  {
.header-v6-container {
width: 100%;
height: 138px;
}
}
/**END**/

@media only screen and (max-width: 900px) {
.header-v6 .header-social {
   display:none;
}
.header-v6-container {
width: 100%;
height: 138px;
}
}
/**END**/

@media only screen and (min-width: 900px) {
#mobile-menu {
    display:none;
}
}
/**END**/

@media only screen and (max-width: 800px) {
.header-v6-container {
width: 100%;
height: 186px;
}
}
/**END**/

@media all and (max-width: 660px) {
#mobile-nav { 
overflow-y: scroll !important;
max-height: 200px; 
}
/**MOBILE**/
.header-v6-container {
width: 100%;
height: 120px;
}
.header-v6 {
    position: relative;
}
.header-v6 #header {
    height: 80px;
}
.header-v6 #header .logo {
    width: 180px;
    float: left !important;
}
.header-v6 #header .logo img {
    height: 40px;
}
.header-v6 #header .mobile-nav-holder {
  position:absolute;
  margin-top: 5px !important;
  width: 100%;
  float: none; 
  padding: 0 35px 0 188px;  
}
#mobile-nav {
   width:100%;
   float:right;
}
/**END**/
}
/**END**/

@media only screen and (max-width: 480px) {
/**MOBILE**/
.header-v6-container {
width: 100%;
height: 120px;
}
.header-v6 {
    position: relative;
}
.header-v6 #header {
    height: 80px;
}
.header-v6 #header .logo {
    width: 180px;
    float: left !important;
}
.header-v6 #header .logo img {
    height: 40px;
}
.header-v6 #header .mobile-nav-holder {
  position:absolute;
  margin-top: 5px !important;
  width: 100%;
  float: none; 
  padding: 0 35px 0 188px;  
}
#mobile-nav {
   width:300px;
   float:right;
}
/**END**/
}
/**END**/
